

<div class="fullwidth">
  <div class="row">
    <div class="small-4 columns">
      4 columns
      <h2>Chat window</h2>
    </div>

    <div class="small-8 columns">
      8 columns
      <h2>Your Plan</h2>
      
<!--   The graph will be rendered here   -->
		
<!--
		<div id="chart" class="off">
		  <ul id="numbers">
			<li><span>100%</span></li>
			<li><span>90%</span></li>
			<li><span>80%</span></li>
			<li><span>70%</span></li>
			<li><span>60%</span></li>
			<li><span>50%</span></li>
			<li><span>40%</span></li>
			<li><span>30%</span></li>
			<li><span>20%</span></li>
			<li><span>10%</span></li>
			<li><span>0%</span></li>
		  </ul>

		  <ul id="bars">
			<li><div data-percentage="39" class="bar"></div><span>Option 1</span></li>
			<li><div data-percentage="56" class="bar"></div><span>Option 2</span></li>
			<li><div data-percentage="20" class="bar"></div><span>Option 3</span></li>
			<li><div data-percentage="60" class="bar"></div><span>Option 4</span></li>
			<li><div data-percentage="30" class="bar"></div><span>Option 5</span></li>
			<li><div data-percentage="49" class="bar"></div><span>Option 6</span>
			</li>
		  </ul>
		</div>
-->
   
   		<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/dark.js"></script>
<div id="chartdiv"></div>
    </div>
  </div>
</div>

<footer class="bottom-bar">
  <div class="small-4 columns">

    <%= form_tag("/update", method: "post") do %>

      <div class="row collapse">
        <div class="small-10 columns">
          <%= text_field_tag(:user_input) %>
        </div>
        <div class="small-2 columns">
          <%= submit_tag('Enter', class: "button") %>
        </div>
      </div>

    <% end %>

  </div>
  <div class="small-8 columns">
    this is the footer - where the plan shortfall/surplus will go

  </div>

</footer>
